.container {
    max-width: 100%;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 24px;
    }
    .body {
        padding: 5px;
    }
}

@media only screen and (orientation: portrait) {
    body {
        background-color: lightblue;
    }
}